.uitleg {
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
    div {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
    }
}

.buurten {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1300px;
    background-color:rgb(240, 240, 240);
    border-radius: 5px;

    .buurt {
        width: max-content;
        padding: 1rem;
    }
}